@page
@model AboutModel
@{
    ViewData["Title"] = "";
}
<h2>@ViewData[""]</h2>
<h3>@Model.Message</h3>

<div style="text-align:center">
    <hr />
    <h4>SocialMENT was created with an idea of building upon solid foundations of relationships</h4>
    <br />
    <h4>SocialMENT provides a networking space where Mentors and Mentees can connect.</h4>
</div>
@*IMAGE GALLERY*@
<div>
    <div class="rowAbout">
        <div class="columnAbout">
            <img src="~/images/Mentorship1.png">
            <img src="~/images/Mentorship3.png">
            <img src="~/images/Mentorship5.png">
            <img src="~/images/Mentorship7.png">
            <img src="~/images/Mentorship9.png">
            <img src="~/images/Mentorship11.png">

        </div>
        <div class="columnAbout">
            <img src="~/images/Mentorship2.png">
            <img src="~/images/Mentorship4.png">
            <img src="~/images/Mentorship6.png">
            <img src="~/images/Mentorship8.png">
            <img src="~/images/Mentorship10.png">
            <img src="~/images/Mentorship12.png">
        </div>
    </div>
</div>








