@page
@model ContactModel
@{
    ViewData["Title"] = "Contact ";
}
<h2>@ViewData["Title"]</h2>
@*<h3>@Model.Message</h3>*@

<div class="pM1" style="font-size:medium">
    <address>
        <strong>SocialMENT Way</strong><br />
        Milwaukee, WI. 53202<br />
        Third Ward Business Park<br />
    </address>
    <hr />
    <address>
        <strong>Public Relations:</strong> <br />
        <a href="mailto:PR@gmail.com">SocialMENTPR@gmail.com</a>
        <hr />
        <strong>Marketing:</strong> <br />
        <a href="mailto:Marketing@gmail.com">SocialMENTMarketing@gmail.com</a>
        <hr />
        <strong>Support:</strong> <br />
        <a href="mailto:Support@gmail.com">SocialMENTsupport@gmail.com</a><br />
        <hr />

    </address>
</div>