@page
@model PortfolioProject.Pages.ProjectConnection.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Connection</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Connection.ConnectionId" />
            <div class="form-group">
                <label asp-for="Connection.MentorsId" class="control-label"></label>
                <input asp-for="Connection.MentorsId" class="form-control" />
                <span asp-validation-for="Connection.MentorsId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Connection.MentoreeId" class="control-label"></label>
                <input asp-for="Connection.MentoreeId" class="form-control" />
                <span asp-validation-for="Connection.MentoreeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Connection.ConnectionDate" class="control-label"></label>
                <input asp-for="Connection.ConnectionDate" class="form-control" />
                <span asp-validation-for="Connection.ConnectionDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
