@page
@model PortfolioProject.Pages.ProjectVideos.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Vids</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Vids.Title" class="control-label"></label>
                <input asp-for="Vids.Title" class="form-control" />
                <span asp-validation-for="Vids.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vids.Description" class="control-label"></label>
                <input asp-for="Vids.Description" class="form-control" />
                <span asp-validation-for="Vids.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vids.YouTubeCode" class="control-label"></label>
                <input asp-for="Vids.YouTubeCode" class="form-control" />
                <span asp-validation-for="Vids.YouTubeCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div>
                    <label class="control-label">Select File</label>
                    <input type="file" name="files"multiple />
                    <span asp-validation-for="Vids.YouTubeCode"></span>
                </div>
                <div>
                <input type="submit" value="Create" class="btn btn-default" />
                </div>
          </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
